<div>



<div class="rounded-md shadow-sm ">
  <div class="mt-2">





    <label  >Player 1:</label>

    <input (change)="playerService.change($event, 1)"  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm " >
  </div>
  <div class="mt-2">
    <label  > Player 2:</label>
    <input (change)="playerService.change($event, 2)"  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm " >
  </div>

</div>

</div>
